# importing libraries

In [232]:
import requests
import pandas as pd
import pprint
import json

# reading in my api with URL. I'm going to compare two different queries, so I went ahead and made them both in this cell

In [265]:
url = "https://weatherapi-com.p.rapidapi.com/current.json"

querystring1 = {"q":"Louisville, Kentucky"}
querystring2=  {"q":"Cancun, Mexico"}

headers = {
	"X-RapidAPI-Key": "",
	"X-RapidAPI-Host": "weatherapi-com.p.rapidapi.com"
}

response1 = requests.get(url, headers=headers, params=querystring1)

pprint.pprint(response1.json())

{'current': {'cloud': 100,
             'condition': {'code': 1183,
                           'icon': '//cdn.weatherapi.com/weather/64x64/day/296.png',
                           'text': 'Light rain'},
             'feelslike_c': 19.4,
             'feelslike_f': 66.9,
             'gust_kph': 19.8,
             'gust_mph': 12.3,
             'humidity': 87,
             'is_day': 1,
             'last_updated': '2023-06-21 11:45',
             'last_updated_epoch': 1687362300,
             'precip_in': 0.0,
             'precip_mm': 0.0,
             'pressure_in': 30.02,
             'pressure_mb': 1017.0,
             'temp_c': 19.4,
             'temp_f': 66.9,
             'uv': 5.0,
             'vis_km': 11.0,
             'vis_miles': 6.0,
             'wind_degree': 70,
             'wind_dir': 'ENE',
             'wind_kph': 20.2,
             'wind_mph': 12.5},
 'location': {'country': 'United States of America',
              'lat': 38.25,
              'localtime': '2023-06-21 11:58',
              'localtime_epoch': 1687363082,
              'lon': -85.76,
              'name': 'Louisville',
              'region': 'Kentucky',
              'tz_id': 'America/Kentucky/Louisville'}}

# This code changes my json file into a python dict, and the last bit makes sure of that

In [266]:
response_info1 = json.loads(response1.text)
current_Louisville = response_info1['current']
type(current_Louisville)

dict

# This makes my dict into a data frame

In [235]:
df1= pd.DataFrame(current_Louisville)
type(df1)

pandas.core.frame.DataFrame

# This code reads my second query in, makes that json into a python dict and then changes that into a dataframe

In [236]:
response2 = requests.get(url, headers=headers, params=querystring2)
response_info2 = json.loads(response2.text)
current_Cancun = response_info2['current']
df2= pd.DataFrame(current_Cancun)

# Just wanted to print it so I could see what I had in values

In [237]:
pprint.pprint(response2.json())

{'current': {'cloud': 50,
             'condition': {'code': 1003,
                           'icon': '//cdn.weatherapi.com/weather/64x64/day/116.png',
                           'text': 'Partly cloudy'},
             'feelslike_c': 37.1,
             'feelslike_f': 98.8,
             'gust_kph': 19.4,
             'gust_mph': 12.1,
             'humidity': 63,
             'is_day': 1,
             'last_updated': '2023-06-21 10:30',
             'last_updated_epoch': 1687361400,
             'precip_in': 0.0,
             'precip_mm': 0.0,
             'pressure_in': 29.9,
             'pressure_mb': 1013.0,
             'temp_c': 31.0,
             'temp_f': 87.8,
             'uv': 8.0,
             'vis_km': 11.0,
             'vis_miles': 6.0,
             'wind_degree': 110,
             'wind_dir': 'ESE',
             'wind_kph': 20.2,
             'wind_mph': 12.5},
 'location': {'country': 'Mexico',
              'lat': 21.17,
              'localtime': '2023-06-21 10:47',
              'localtime_epoch': 1687362423,
              'lon': -86.85,
              'name': 'Cancun',
              'region': 'Quintana Roo',
              'tz_id': 'America/Cancun'}}

# Here I was trying to see if there were any empty cells, looks like not

In [238]:
df1.empty

False

# No NA values in this data set

In [239]:
df2.isna

<bound method DataFrame.isna of       last_updated_epoch      last_updated  temp_c  temp_f  is_day  \
code          1687361400  2023-06-21 10:30    31.0    87.8       1
icon          1687361400  2023-06-21 10:30    31.0    87.8       1
text          1687361400  2023-06-21 10:30    31.0    87.8       1

                                           condition  wind_mph  wind_kph  \
code                                            1003      12.5      20.2
icon  //cdn.weatherapi.com/weather/64x64/day/116.png      12.5      20.2
text                                   Partly cloudy      12.5      20.2

      wind_degree wind_dir  ...  precip_in  humidity  cloud  feelslike_c  \
code          110      ESE  ...        0.0        63     50         37.1
icon          110      ESE  ...        0.0        63     50         37.1
text          110      ESE  ...        0.0        63     50         37.1

      feelslike_f  vis_km  vis_miles   uv  gust_mph  gust_kph
code         98.8    11.0        6.0  8.0      12.1      19.4
icon         98.8    11.0        6.0  8.0      12.1      19.4
text         98.8    11.0        6.0  8.0      12.1      19.4

[3 rows x 23 columns]>

# This is just some arithmatic with values from my data frames. I wasn't able to get mean() to work for this. Not sure if it's because it's just two items or not.

In [240]:
(df1['humidity'] +  df2['humidity']) //2

code    73
icon    73
text    73
Name: humidity, dtype: int64

# This is just some arithmatic with values from my data frames. I wasn't able to get sum() to work for this. Not sure if it's because it's just two items or not.

In [241]:
(df1['gust_mph'] + df2['gust_mph'])

code    24.4
icon    24.4
text    24.4
Name: gust_mph, dtype: float64

# In this cell, I was trying to refine the query to just show only places where conditions are  'Light rain'. Because of the scope of my df, this is showing nothing beucase the the current conditions in df2 are 'Partly cloudy'.

In [268]:
df2.query("condition == 'Light rain'", inplace=False)

Empty DataFrame
Columns: [last_updated_epoch, last_updated, temp_c, temp_f, is_day, condition, wind_mph, wind_kph, wind_degree, wind_dir, pressure_mb, pressure_in, precip_mm, precip_in, humidity, cloud, feelslike_c, feelslike_f, vis_km, vis_miles, uv, gust_mph, gust_kph]
Index: []

[0 rows x 23 columns]

# Here I wanted it to read out all my columns and rows, I was a bit confused by the ordering shown in the pprint from earlier, so this helped my to see everything I had.

In [270]:
df1.iloc[:, 0:24]

,last_updated_epoch,last_updated,temp_c,temp_f,is_day,condition,wind_mph,wind_kph,wind_degree,wind_dir,...,precip_in,humidity,cloud,feelslike_c,feelslike_f,vis_km,vis_miles,uv,gust_mph,gust_kph
code,1687361400,2023-06-21 11:30,20.0,68.0,1,1183,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8
icon,1687361400,2023-06-21 11:30,20.0,68.0,1,//cdn.weatherapi.com/weather/64x64/day/296.png,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8
text,1687361400,2023-06-21 11:30,20.0,68.0,1,Light rain,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8

# Here we have my SECOND and THIRD columns

In [258]:
df1.iloc[:, 2:4]

      temp_c  temp_f
code    20.0    68.0
icon    20.0    68.0
text    20.0    68.0

# It looks like there are only 3 rows in this DF, but this was my attempt to print the first 4 ROWS.

In [264]:
df1.iloc[0:5]

,last_updated_epoch,last_updated,temp_c,temp_f,is_day,condition,wind_mph,wind_kph,wind_degree,wind_dir,...,precip_in,humidity,cloud,feelslike_c,feelslike_f,vis_km,vis_miles,uv,gust_mph,gust_kph
code,1687361400,2023-06-21 11:30,20.0,68.0,1,1183,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8
icon,1687361400,2023-06-21 11:30,20.0,68.0,1,//cdn.weatherapi.com/weather/64x64/day/296.png,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8
text,1687361400,2023-06-21 11:30,20.0,68.0,1,Light rain,15.0,24.1,70,ENE,...,0.0,84,100,20.0,68.0,14.0,8.0,5.0,12.3,19.8